<div class="component__props">
    <h3 class="component-section__title">Props</h3>
    <table class="props__table">
        <thead class="props__table-head">
            <tr>
                <th class="props__table-head-cell">Name</th>
                <th class="props__table-head-cell">Type</th>
                <th class="props__table-head-cell">Default</th>
                <th class="props__table-head-cell">Description</th>
            </tr>
        </thead>
        <tbody>
            {{rows}}
        </tbody>
    </table>
</div>